<!--Partie sur la newsletter-->
<div class="newsletter">
  <div class="container-fluid services py-0">
    <div class="container py-3">
      <div class="mx-auto text-center mb-5" style="max-width: 800px;"></div>
      <div class="text-uppercase text-center">
        <h1>ABONNEZ-VOUS A NOTRE NEWSLETTER</h1>
        <p>Abonnez-vous et recevez notre dernier article dans votre boite de réception</p>
        <label>
        <form class="container-fluid">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Votre e-mail" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1" color="black">S'abonner</span>
          </div>
        </form>
        </label>
      </div>
    </div>
  </div>
</div>